Checks: '-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  cppcoreguidelines-no-malloc
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-virtual-class-destructor,
  cppcoreguidelines-slicing,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-c-copy-assignment-signature,
  cppcoreguidelines-special-member-functions,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-const-correctness,
  cert-*,
  modernize-*,
  -modernize-type-traits,
  -modernize-use-using,
  -modernize-use-default-member-init,
  -modernize-macro-to-enum,
  -modernize-use-trailing-return-type
  performance-*,
  -performance-no-int-to-ptr,
  readability-*,
  readability-duplicate-include,
  readability-else-after-return,
  readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
'